:root {
  --main-color: #be9fe1;
  --sec-color: #c9b6e4;
  --thr-color: #e1ccec;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

.App {
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.container{
  width: 90%;
  margin: 0 auto;
}